/venv/
/requirements.in
/hrc/db.sqlite3
.idea/dataSources.xml
.idea/dataSources/
.idea/dictionaries/
.idea/misc.xml
hrc/__pycache__/
hrc/core_app/__pycache__/
hrc/core_app/management/__pycache__/
hrc/core_app/management/commands/__pycache__/
hrc/core_app/migrations/__pycache__/
hrc/file_parser_app/__pycache__/
hrc/file_parser_app/management/__pycache__/
hrc/file_parser_app/management/commands/__pycache__/
hrc/file_parser_app/migrations/__pycache__/
hrc/folder_parser_app/__pycache__/
hrc/folder_parser_app/migrations/__pycache__/
hrc/hrc/__pycache__/
hrc/site_parser_app/__pycache__/
hrc/site_parser_app/migrations/__pycache__/
