{% extends "base.html" %}
{% load static %}
{% block title %}
    Категория "{{ object.category_name }}"
{% endblock %}
{% block content %}
    <link href="{% static 'assets/css/fresh-bootstrap-table.css' %}" rel="stylesheet"/>
    <div class="contact-us">
        <div class="fresh-table full-color-transparent">
            <h4 class="section-title-center">Категория "{{ object.category_name }}"</h4>
            <table id="fresh-table" class="table">
                <tbody>
                {% if object.has_image %}
                <tr>
                    <td>
                        <img class="center-block" src="{{ category.category_image.url }}"
                             width="128" alt="{{ object.category_name }}">
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <td>
                        Короткое имя категории:
                        <span class="pull-right text-muted">{{ object.category_short_name }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Имя категории:
                        <span class="pull-right text-muted">{{ object.category_name }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Описание категории:
                        <span class="pull-right text-muted">{{ object.category_description }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        URL на сайте HANSA:
                        <span class="pull-right text-muted">
                         {% if category.category_site_url %}
                             <a href="{{ category.category_site_url }}" target="_blank">
                                 {{ category.category_site_url }}
                             </a>
                         {% else %}
                             {{ category.category_site_url }}
                         {% endif %}
                     </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="space-30"></div>
        <div class="submit">
            <a href="{% url 'core_app:category_update' slug=category.category_slug %}"
               class="btn btn-danger btn-fill pull-left">
            Изменить категорию
            </a>
        </div>
    </div>
{% endblock %}