{% extends "base.html" %}
{% load static %}
{% block title %}
    Список категорий товаров
{% endblock %}
{% block content %}
    <link href="{% static 'assets/css/fresh-bootstrap-table.css' %}" rel="stylesheet"/>
        <div class="fresh-table full-color-transparent">
            <h4 class="section-title-center">Список категорий</h4>
            <table id="fresh-table" class="table">
                <thead>
                <th data-field="category_short_name">Abbr</th>
                <th data-field="category_name">Категория</th>
                <th data-field="category_description">Описание</th>
                <th data-field="category_site_url">Сайт URL</th>
                <th data-field="product_operations">Операции</th>
                </thead>
                <tbody>
                {% for item in object_list %}
                    <tr>
                        <td>
                            <a href="{{ item.get_absolute_url }}">
                                {{ item.category_short_name }}
                            </a>
                        </td>
                        <td>{{ item.category_name }}</td>
                        <td>{{ item.category_description }}</td>
                        {% if item.category_site_url %}
                            <td>
                                <a class="code" href="{{ item.category_site_url }}" target="_blank">
                                    <i class="fa fa-link" aria-hidden="true"></i>
                                </a>
                            </td>
                        {% else %}
                            <td>
                                <i class="fa fa-chain-broken" aria-hidden="true"></i>
                            </td>
                        {% endif %}
                        <td>
                            <a rel="tooltip" title="Изменить" class="table-action edit"
                               href="{% url 'core_app:category_update' slug=item.category_short_name %}">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a rel="tooltip" title="Удалить" class="table-action remove"
                               href="{{ category.get_absolute_url }}"><i class="fa fa-remove"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    <div class="space-70"></div>
    <div class="submit">
        <a href="{% url 'core_app:category_create' %}" class="btn btn-danger btn-fill pull-right" rel="stylesheet">
            Создать новую категорию
        </a>
    </div>
{% endblock %}