{% extends "base.html" %}
{% load static %}
{% block title %}
    Hansa Content Library
{% endblock %}
{% block content %}
    <link href="{% static 'assets/css/fresh-bootstrap-table.css' %}" rel="stylesheet"/>
    {% include "core_app/search.html" %}
    <div class="fresh-table full-color-transparent">
        <h4 class="section-title-center">Список моделей</h4>
        <table id="fresh-table" class="table">
            <thead>
            <th data-field="product_status">Категория</th>
            <th data-field="product_code">Hansa код</th>
            <th data-field="product_operations"></th>
            <th data-field="product_description">Описание</th>
            <th data-field="product_site_url">Сайт URL</th>
            <th data-field="product_status">Статус</th>
            <th data-field="product_rc">РИЧ-КОНТЕНТ</th>
            </thead>
            <tbody>
            {% for item in products %}
                <tr>
                    <td>
                        {{ item.product_category.category_short_name }}
                    </td>
                    <td>
                        <a class="code" href="{{ item.get_absolute_url }}">
                            {{ item.product_code }}
                        </a>
                    </td>
                    <td>
                        <a rel="tooltip" title="Изменить" class="change table-action edit"
                           href="{% url 'core_app:product_update' slug=item.product_slug %}">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                    <td>{{ item.product_description }}</td>
                    {% if item.product_site_url %}
                        <td class="text-center">
                            <a class="code" href="{{ item.product_site_url }}" target="_blank">
                                <i class="fa fa-link" aria-hidden="true"></i>
                            </a>
                        </td>
                    {% else %}
                        <td class="text-center">
                            <i class="fa fa-chain-broken" aria-hidden="true"></i>
                        </td>
                    {% endif %}
                    <td class="text-center">{{ item.product_status }}</td>
                    <td class="text-center"><span class="pull-center-lightgreen"><b>{{ item.rc_complete }}%</b></span>
                    </td>
                </tr>
            {% empty %}
                <p>Sorry!!!</p>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="space-30"></div>
    <div class="pagination pull-left">
        {% if page_obj.has_previous %}
            <a class="apagination" href="?page=1">
                <i class="fa fa-backward" aria-hidden="true"></i>
            </a>
            <a class="apagination" href="?page={{ page_obj.previous_page_number }}">
                <i class="fa fa-play fa-playback" aria-hidden="true"></i>
            </a>
        {% endif %}
        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
        </span>
        {% if page_obj.has_next %}
            <a class="apagination" href="?page={{ page_obj.next_page_number }}">
                <i class="fa fa-play" aria-hidden="true"></i>
            </a>
            <a class="apagination" href="?page={{ page_obj.paginator.num_pages }}">
                <i class="fa fa-forward" aria-hidden="true"></i>
            </a>
        {% endif %}
    </div>
    <div class="submit pull-right">
        <a href="{% url 'core_app:product_create' %}" class="btn btn-danger btn-fill pull-right" rel="stylesheet">
            Создать новый продукт
        </a>
    </div>
{% endblock %}
