{% extends "base.html" %}
{% load static %}
{% block title %}
    Импорт файла
{% endblock %}
{% block content %}
    <div class="contact-us">
        <h4 class="section-title-center">Импорт файла</h4>
        <div class="row">
            <form role="form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <p>
                        <label for="file_name">Имя файла</label>
                        <input type="file" name="file_name" class="form-control" id="file_name"/>
                    </p>
                </div>
                <div class="form-group">
                    <p>
                        <label for="file_description">Описание</label>
                        <input type="text" name="file_description" class="form-control" id="file_description"/>
                    </p>
                </div>
                <div class="submit">
                    <input type="submit" class="btn btn-danger btn-fill" value="Импортировать"/>
                    <div class="space-30"></div>
                </div>
            </form>
        {% if is_loaded %}
            {% include "file_parser_app/notification_success.html" %}
        {% else %}
            {% include "file_parser_app/notification_failed.html" %}
        {% endif %}
        </div>
    </div>
{% endblock %}